# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/

# Airflow metadata & logs
airflow.db
airflow.cfg
logs/
*.log

# Model artifacts / large data files
data/*.joblib
modules/*.joblib

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS generated
.DS_Store
Thumbs.db

# Python packaging
*.egg-info/
dist/
build/
